mixin request(id, title, author, time, distance, content, current, total)
  .request
    .title
      div
        h2= title
        p.author from #{author}
      .rsvp_info
        p.time= time
        p.distance= distance
    p.content= content
    .response
      p.label= current + '/' + total
      form(method=post action='/help')
        input(type='hidden' name='reqId' value=uuid)
        input(type='submit' value='I will help')
